<h1>Esta es la página de entrada de nuestra aplicación rails. Hemos eliminado  el archivo index de public, y modificado routes</h1>
<p>Bienvenido a mi SocialRails example. Find me in app/views/home/index.html.erb</p>
